@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.25;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.toggle {
  display: none;
}

.app {
}

.collapsible {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-background-1, #fff9f5);
}

.collapsible__wrapper {
  width: 1383px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.collapsible__head {
  padding-top: 50px;

  .collapsible__head--title {
    color: var(--secondary-color-1, #462b20);
    text-align: center;
    font-family: "Instrument Serif", serif;
    font-size: 58px;
    font-style: normal;
    font-weight: 400;
    line-height: 61px;
    letter-spacing: -0.58px;
    color: #462b20;
  }
}

.collapsible__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 76px;
  padding-bottom: 66px;
  gap: 117px;
}

.collapsible__body--content {
  display: flex;
  justify-content: center;
  padding-top: 54px;
}

.collapsible__content {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  img {
    width: 560px;
    height: 315px;
  }

  .collapsible__content--item {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    .collapsible__item--list {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      .collapsible__list--article {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        .collapsible__article--info {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-top: 1px solid #f3eae5;
          padding-top: 18px;

          .collapsible__name {
            color: var(--secondary-color-1, #462b20);
            font-family: Instrument Serif;
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            color: #462b20;
          }

          .collapsible__down {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            transition: transform 0.3s ease-in-out;

            i {
              color: #693521;
            }
          }
          .collapsible__down.rotate {
            transform: rotate(180deg);
          }
        }
      }

      .collapsible__content--text {
        color: var(--secondary-color-2, rgba(66, 41, 31, 0.85));
        width: 499px;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        color: #42291fd9;
      }
    }
  }
}

.collapsible__image {
  img {
    width: 706px;
    height: 991px;
    flex-shrink: 0;
  }
}

// responsive
@media only screen and (max-width: 633px) {
  .app {
    width: 100%;
  }
  .collapsible {
    min-width: 440px;
    
    .collapsible__wrapper {
      width: 100%;
    }
  }
  .collapsible__body {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 76px;
    padding-bottom: 66px;

    .collapsible__body--content {
      width: 100%;
      padding: 0;

      .collapsible__content {
        width: 351px;

        img {
          width: 100%;
        }

        .collapsible__content--text {
          width: 354px;
        }
      }
    }
    .collapsible__image {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

@media (min-width: 634px) and (max-width: 1458px) {
  .collapsible__body {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 76px;
    padding-bottom: 66px;

    .collapsible__body--content {
      padding: 0;
    }

    .collapsible__image img {
      width: 606px;
    }
  }
}

@media (min-width: 1459px) and (max-width: 1699px) {
  .collapsible__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 76px;
    padding-bottom: 66px;

    .collapsible__image {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
